<footer class="py-2 w-100 bg-secondary mt-4">
  <p class="text-center my-0">
    <img
      src="http://www.superweb.es/aelip.es/fotografias/2684s-tienda-online-suplementacion-deportiva.png"
      alt="Tienda online"
      width="100"
    />
    <span class="text-white">Mercado Web</span></p>
</footer>