<header class="bg-success">
  <div class="container">
    <div class="row py-3">
      <h4 class="text-white">Come Sano, Come Fresco SpA</h4>
      <button
        type="button"
        class="ml-auto btn btn-warning"
        data-toggle="modal"
        data-target="#exampleModal"
        onclick="mostrarCompras()"
      ><svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"
        ><path
            d="M21 4H2v2h2.3l3.28 9a3 3 0 0 0 2.82 2H19v-2h-8.6a1 1 0 0 1-.94-.66L9 13h9.28a2 2 0 0 0 1.92-1.45L22 5.27A1 1 0 0 0 21.27 4 .84.84 0 0 0 21 4zm-2.75 7h-10L6.43 6h13.24z"
          ></path><circle cx="10.5" cy="19.5" r="1.5"></circle><circle
            cx="16.5"
            cy="19.5"
            r="1.5"
          ></circle></svg></button>
    </div>
  </div>
</header>

{{> modal}}

<script>
  
  mostrarCompras = () => {

    if (document.querySelector(".contenedor-modal")) {
      document.querySelector(".contenedor-modal").remove()
    }

    const contenedor = document.querySelector("#modalContenedor");

    carrito = localStorage.getItem("productos");
    const arrayCarrito = carrito.split(",");

    const divContenedorImg = document.createElement("div");
    divContenedorImg.classList.add("contenedor-modal");

    arrayCarrito.forEach((producto) => {

      const divImg = document.createElement("div");
      divImg.classList.add("d-inline");
      divImg.innerHTML += `
          <img onclick="borrarProducto('${producto}')" src="/img/${producto}.png" class="img-thumbnail" width="50" />
          `;
      divContenedorImg.appendChild(divImg);
    });
    contenedor.appendChild(divContenedorImg);
  };

  borrarProducto = (producto) => {
    carrito = localStorage.getItem("productos");
    const arrayCarrito = carrito.split(",");
    console.log(arrayCarrito[0])

    for(let i = 0; i < arrayCarrito.length; i++){
      if (arrayCarrito[i] == producto){
        arrayCarrito.splice(i, 1);
      }
    }

    localStorage.setItem('productos', arrayCarrito);
    console.log(arrayCarrito.length)
    mostrarCompras();
  }

</script>