body {
  background-image: url(../img/fondo.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 5000px 500px rgba(255, 255, 255, 0.75);
}
header {
  background-color: rgba(255, 255, 255, 0.8);
}
#hero-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}
.card-title {
  font-size: 30px;
  -webkit-text-stroke: 0.09vw blue;
  color: white;
}
@media screen and (max-width: 500px) {
  .card-title {
    font-size: 30px;
    -webkit-text-stroke: 0.3vw blue;
    color: white;
  }
}
.font-italic > span {
  font-style: normal;
}
footer p {
  color: #c3c3c3;
}
